.header {
    width: 100%;
    height:80px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #77002e;
    padding: 0 5%;
    padding-top: 15px;
  }
  .nav {
    justify-content: right;
  }
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    min-width: 200px;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    /* padding: 0; */
    display: flex;
    padding-top: 5px;
    flex-direction:row;
    justify-items:flex-end;
  }
  
  .header li {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    /* direction: */
    /* align-items:space-evenly; */
    /* align-items: center;
    justify-self: center; */
    
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
    align-self: center;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }